name: Deploy Github Wiki
on:
  push:
    paths:
      - "docs/**"
      - ".github/workflows/ci.wiki.yml"
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Publish Markdown to GitHub Wiki
        uses: benhatsor/github-wiki-publish-action@1.0.5
        with:
          path: "docs"
        env:
          GH_PERSONAL_ACCESS_TOKEN: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}